.card {
  background-color: var(--main-background-color);
  border: none;
}

.card img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  cursor: pointer;
}

.card span {
  font-family: var(--kalam-font);
  font-size: 18px;
}

.card p {
  font-family: var(--gambarino-font);
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}
